:root {
    --section-padding-top: 130px;
    --section-padding-bottom: 110px;
    --section-background-color: #FDF9F6;
    --main-duration: 0.5s;
    --footer-color: #959595;
}

@media (max-width: 767px) {
    :root {
        --section-padding-top: 60px;
        --section-padding-bottom: 15px;
    }
}

* {
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
}

/* Start Components */
.main-heading {
    font-size: 3.75rem;
    font-weight: bold;
    text-align: center;
    color: #222222;
    font-family: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.main-para {
    font-size: 18px;
    color: #7f7f7f;
    text-align: center;
    font-family: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 60px;
}

@media (max-width: 767px) {
    .main-heading {
        font-size: 50px;
    }

    .main-para {
        font-size: 14px;
    }

}

/* End Components */
/* Start Header */
.header {
    position: absolute;
    left: 0;
    width: 100%;
    z-index: 2;
}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.header .nav-links {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-wrap: wrap;
}

.header ul {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
}

@media (max-width: 767px) {
    .header .nav-links {
        display: none;
    }
}

.header .nav-links ul li a {
    display: block;
    color: white;
    text-decoration: none;
    font-size: 18px;
    padding: 40px 15px;
    position: relative;
    transition: 0.8s;
    -webkit-transition: 0.8s;
    -moz-transition: 0.8s;
    -ms-transition: 0.8s;
    -o-transition: 0.8s;
}

.header .active {
    text-decoration: none;
    background-color: #eb592d;
    font-size: 18px;
    padding: 15px 25px;
    border: none;
    color: white;
    position: relative;
    z-index: 1;
    margin-left: 10px;
}

.header .active:hover {
    color: white;
}

.header .active::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background-color: transparent;
    opacity: 0.5;
    width: 0;
    height: 100%;
    transition: 0.8s;
    z-index: -1;
}

.header .active:hover::before {
    width: 100%;
    background-color: #c04a1e;
    opacity: 0.8;
}

.header .nav-icon {
    color: white;
    font-size: 25px;
    cursor: pointer;
}

@media (max-width: 767px) {
    .header .nav-links {
        display: block;
        background-color: #4c4c4c;
        width: 100%;
        position: absolute;
        top: 100%;
        left: 0;
        text-align: center;
    }

    .header .nav-links ul {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: start;
        padding-left: 1rem;
        margin-bottom: 0;
    }

    .header .nav-links ul li a {
        display: flex;
        color: white;
        text-decoration: none;
        font-size: 14px;
        padding: 15px 0;
        position: relative;
        left: 0;
    }

    .header .active {
        display: none;
    }

    .header .nav-icon {
        display: block;
    }

    .header .show {
        display: none;
    }
}

@media (min-width: 768px) {
    .header .nav-icon {
        display: none;
    }
}

/* End Header *
/* Start Landing */
.landing {
    min-height: 100vh;
    background-image: url("../images/landing.webp");
    background-size: cover;
    position: relative;
    background-color: red;
}

@media (max-width: 767px) {
    .landing {
        min-height: 75vh;
    }
}

.landing .overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 / 60%);
}

.landing .text {
    position: absolute;
    top: 35%;
    width: 550px;
    max-width: 100%;

    & p {
        line-height: 1.6;
        font-size: 16px;
        text-align: left;
    }

    & h3 {
        color: #ffffff;
        font-family: "Yeseva One";
        font-size: 4rem;
        font-weight: 900;
        margin-bottom: 4px;
        line-height: 75px;
    }

    & a {
        text-decoration: none;
        background-color: #eb592d;
        font-size: 18px;
        padding: 15px 25px;
        border: none;
        color: white;
        position: relative;
        z-index: 1;
        display: flex;
        width: fit-content;
    }

    & a::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        background-color: transparent;
        opacity: 0.5;
        width: 0;
        height: 100%;
        transition: 0.8s;
        z-index: -1;
    }

    & a:hover::before {
        width: 100%;
        background-color: #c04a1e;
        opacity: 0.8;
    }
}

@media (max-width: 767px) {
    .landing .text h3 {
        font-size: 33px;
        line-height: 40px;
        margin-bottom: 15px;
    }

    .landing .text p {
        font-size: 16px;
    }
}

/* End  Landing */
/* Start about  */
.about {
    padding-top: var(--section-padding-top);
    padding-bottom: var(--section-padding-bottom);
    background-color: var(--section-background-color);
    position: relative;
}

.about .content {
    display: inline-flex;
    justify-content: space-around;
    align-items: center;
    gap: 15%;
}

.about .content .imgs {
    display: inline-flex;
    position: relative;
    margin-bottom: 20px;
    transition: 0.8s;
    -webkit-transition: 0.8s;
    -moz-transition: 0.8s;
    -ms-transition: 0.8s;
    -o-transition: 0.8s;
}

.about .content .imgs .img1 {
    width: 384px;
}

.about .content .imgs:hover {
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
}

.about .content .imgs .img2 {
    width: 182px;
    position: absolute;
    right: -25%;
    bottom: 0;
    border-top: 15px solid #ffffff;
    border-left: 15px solid #ffffff;
}

@media (max-width: 767px) {
    .about .content .imgs {
        display: none;
    }
}

.about .content .text {
    width: 39%;
}

.about .info {
    color: #4b4b49;
    line-height: 2;
}

.about .opening {
    font-size: 30px;
    font-family: none;
    margin: 20px 20px 40px 0;
    display: inline-flex;
    justify-content: start;
    align-items: center;
    gap: 20px;
    width: 100%;
}

.about .opening span {
    color: #252219;
    font-size: 20px;
}

.about .about-link {
    text-decoration: none;
    background-color: #eb592d;
    font-size: 18px;
    padding: 15px 25px;
    border: none;
    color: white;
    position: relative;
    z-index: 1;
    display: flex;
    width: fit-content;
}

.about .about-link::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background-color: transparent;
    opacity: 0.5;
    width: 0;
    height: 100%;
    transition: 0.8s;
    z-index: -1;
}

.about .about-link:hover::before {
    width: 100%;
    background-color: #c04a1e;
    opacity: 0.8;
}

@media (max-width: 767px) {
    .about .content .imgs {
        display: none;
    }

    .about .content .text {
        width: 100%;
        text-align: center;
    }

    .about .opening {
        display: flex;
        flex-wrap: wrap;
        margin: 10px 0 20px
    }
}

/* End  about  */
/* Start Services with bootsratp */
.services {
    padding-top: var(--section-padding-top);
    padding-bottom: var(--section-padding-bottom);
    position: relative;
}

.service-box .text {
    text-align: center;
    padding: 30px 0px;
    background-color: #fff;
    border: 1px solid #ffd1af;
    border-top: none;
    margin-bottom: 30px;
}

.service-box .img-container {
    overflow: hidden;
}

.service-box .imgs {
    position: relative;
}

.service-box .imgs .large-img {
    width: 100%;
    height: 100%;
}

.service-box .imgs .small-img {
    position: absolute;
    width: 100px;
}

.service-box img {
    object-fit: cover;
    width: 100%;
    transition: var(--main-duration);
    -webkit-transition: var(--main-duration);
    -moz-transition: var(--main-duration);
    -ms-transition: var(--main-duration);
    -o-transition: var(--main-duration);
}

.service-box:hover img {
    transform: scale(1.1);
}

.service-box h3 {
    margin-top: 15px;
    font-size: 25px;
    font-weight: bold;
}

.service-box p {
    color: #666;
    line-height: 1.8;
}

.service-box .text .price {
    font-size: 30px;
    font-weight: bold;
    position: relative;
}

.service-box .text .price::before {
    content: '$';
    position: absolute;
    font-size: 25px;
    top: -10px;
    left: -15px;
    color: #252219;
}

/* End Services with bootsratp*/
/* Start Barber  */
.barber {
    padding-top: var(--section-padding-top);
    padding-bottom: var(--section-padding-bottom);
    background-color: var(--section-background-color);
    position: relative;
}

.barber .img-container {
    overflow: hidden;
}

.barber .img-container img {
    width: 100%;
    transition: var(--main-duration);
    -webkit-transition: var(--main-duration);
    -moz-transition: var(--main-duration);
    -ms-transition: var(--main-duration);
    -o-transition: var(--main-duration);
}

.barber .img-container img:hover {
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
}

.barber .text p {
    color: #eb592d;
}

/* End Barber  */
/* Start Testimonial */
.testimonial {
    padding-top: var(--section-padding-top);
    padding-bottom: var(--section-padding-bottom);
    position: relative;
}

@media (max-width: 767px) {
    .testimonial .main-heading {
        font-size: 35px !important;
    }
}

.testimonial .para {
    color: #7f7f7f;
    font-weight: 400;
    line-height: 32px;
    margin-bottom: 40px;
    font-family: "Lato", sans-serif;
    font-style: italic;
    text-align: center;
}

.testimonial .name {
    color: #8c8c8c;
    font-size: 16px;
    text-align: center;
    font-weight: 400;
    font-family: "Yeseva One", cursive;
}

/* End Testimonial */
/* Start Contact */
.contact {
    padding-top: var(--section-padding-top);
    padding-bottom: var(--section-padding-bottom);
    background-color: var(--section-background-color);
    position: relative;
}

.contact .input,
textarea {
    width: 100%;
    border: 0;
    padding-bottom: 3px;
    border-bottom: 1px solid #c1c1c1;
    padding-left: 10px;
    height: 50px;
    font-family: "Lato", sans-serif;
    color: #000;
    background: transparent;
    outline: none;
    margin-bottom: 25px;
    resize: none;

}

.contact a {
    text-decoration: none;
    background-color: #eb592d;
    font-size: 18px;
    padding: 15px 25px;
    border: none;
    color: white;
    position: relative;
    z-index: 1;
    display: flex;
    width: fit-content;
}

.contact a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background-color: transparent;
    opacity: 0.5;
    width: 0;
    height: 100%;
    transition: 0.8s;
    z-index: -1;
}

.contact a:hover::before {
    width: 100%;
    background-color: #c04a1e;
    opacity: 0.8;
}

.contact .info h4 {
    color: #4a4948;
    font-size: 18px;
}

.contact .info p {
    color: #7f7f7f;
    font-size: 16px;
    line-height: 30px;
}

/* End Contact */
/* Start Footer */
.footer {
    padding-top: var(--section-padding-top);
    padding-bottom: var(--section-padding-bottom);
    position: relative;
    background-color: #0d0e0f;
}

.footer .container p {
    color: var(--footer-color);
}

.icons a {
    color: var(--footer-color);
}

.footer .fa-brands {
    transition: var(--main-duration);
    -webkit-transition: var(--main-duration);
    -moz-transition: var(--main-duration);
    -ms-transition: var(--main-duration);
    -o-transition: var(--main-duration);
}

.footer .fa-brands:hover {
    color: #eb592d;
}

.footer-title {
    color: white;
}

.footer li a {
    text-decoration: none;
    color: var(--footer-color);
    margin-bottom: 10px;
    transition: var(--main-duration);
    -webkit-transition: var(--main-duration);
    -moz-transition: var(--main-duration);
    -ms-transition: var(--main-duration);
    -o-transition: var(--main-duration);
}

.footer li a:hover {
    color: #eb592d;
}

/* End Footer */